._1myAccount{}
._1myAccount_button {
    color: #2f3432;
    text-align: center;
    padding: 24px 0 105px;
}
._1myAccount_do {
    font-weight: 400;
    color: #2f3432;
    margin: 24px 0 16px;
    font-size: 1.6143rem;
    line-height: 1.5;
}
._1myAccount_Post {
    font-weight: 400;
    color: #2f3432;
    font-size: 1.1858rem;
    line-height: 1.33333333;
    margin-top: 6px;
    margin-bottom: 30px;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}