._1category{}
._1category_search {
    padding: 24px;
    margin-left: -3px;
    margin-right: -3px;
    border-bottom: 2px solid;
}
._1category_search_button{}
._1category_search_btn_all {
    padding: 0 3px;
}
._1category_search_input_all {
    padding: 0 3px 0;
    position: relative;
}
._1category_filter_product{}
._1category_flter_all{}
._1category_flter {
    padding: 24px;
    border-right: 2px solid;
    height: 100%;
}
._1category_flter_title {
	    padding-bottom: .5rem;
    margin-bottom: .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-bottom: 1px solid;
}
._1category_flter_select {
    color: #2f3432;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
    height: 32px;
    font-size: 14px;
}
._1category_flter_select option{}
._1category_flter_items:last-child{
	margin-bottom: 0px;
}
._1category_flter_items {
    margin: 0 0 25px;
}
._1category_flter_radio{}
._1category_flter_radio input{}
._1category_flter_list_all{}
._1category_flter_subtitle{
	color: #2f3432;
    font-weight: 700;
    font-size: 14px;
}
._1category_flter_list {
    padding: 0px 0 0 14px;
}
._1category_flter_list li:last-child {
	margin-bottom: 0px;
}
._1category_flter_list li {
    font-size: 14px;
    list-style: none;
    margin: 11px 0 10px;
}
._1category_flter_list li a i {
    color: #333;
    margin: 0 5px 0 0;
    width: 16px;
    text-align: center;
}
._1category_flter_list li a{}
._1category_flter_list li a:hover{}
._1category_flter_list_span {
    color: #ada6a6;
    font-size: 12px;
    margin: 0 0 0 5px;
}
._1category_product_all {
    padding-left: 9px;
}
._1category_product {
    padding: 22px 0 0;
}
._1category_product_menu{}
._1category_product_menu_list{}
._1category_product_menu_list li {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
._1category_product_menu_list li span {
    
}
._1category_product_menu_list li:hover{}
._1category_product_next{
	margin: 0 11px 0;
}
._1category_product_menu_ative{
	color: #333;
	font-weight: bold;
}
._1category_results_num {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 12px 0 0px;
}
._1category_product_main_all {
    padding: 29px 0 3px;
}
._1category_product_card:first-child{
	border-top: 1px solid #e7e7e7 !important;
}
._1category_product_card {
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid;
    padding: 20px 15px;
    border-radius: 3px 3px 4px 4px;
    -webkit-box-shadow: 0 2px 0 0 rgba(212,222,217,0);
    box-shadow: 0 2px 0 0 rgba(212,222,217,0);
    min-height: 128px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
._1category_product_card:hover {
    -webkit-box-shadow: 0 2px 0 0 #d4ded9;
    box-shadow: 0 2px 0 0 #d4ded9;
    border: 1px solid #e7e7e7 !important;
    border-top: 1px solid transparent !important;
}
._1category_product_card:first-child:hover {
    border-top: 1px solid #e7e7e7 !important;
}
._1category_product_card_img{
	    width: 136px;
    height: 102px;
    margin-right: 24px;
    overflow: hidden;
}
._1category_product_card_pic {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
._1category_card_time {
    position: absolute;
    bottom: 9px;
    right: 15px;
    font-size: 13px;
    opacity: .6;
}
._1category_card_active {
    background: #efefef;
}
._1category_top_add {
    position: absolute;
    top: 0;
    right: 0;
    background: #128b72;
    color: #fff;
    font-size: 11px;
    padding: 4px 7px 4px;
}
._1category_product_card_details{}
._1category_product_card_title {
    font-weight: bold;
    margin: 0 0 6px;
}
._1category_product_card_subnum {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
._1category_product_card_address {
    opacity: .8;
    font-size: 14px;
}
._1category_product_card_price{
	    font-weight: bold;
    color: #333;
}
._1category_button {
    color: #2f3432;
    text-align: center;
    padding: 24px 0 105px;
}
._1category_do {
    font-weight: 400;
    color: #2f3432;
    margin: 24px 0 16px;
    font-size: 1.6143rem;
    line-height: 1.5;
}
._1category_Post {
    font-weight: 400;
    color: #2f3432;
    font-size: 1.1858rem;
    line-height: 1.33333333;
    margin-top: 6px;
    margin-bottom: 30px;
}
