._2category{}
._2category_search {
    padding: 24px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid;
    margin-bottom: 26px;
}
._2category_search_button{}
._2category_search_btn_all {
    padding: 0 3px;
}
._2category_search_btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    line-height: 42px;
}
._2category_search_btn i{}
._2category_search_input_all {
    padding: 0 3px 0;
    position: relative;
}
._2category_search_input_btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
    line-height: 42px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}
._2category_search_int {
    color: #2f3432;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 101%;
    height: 42px;
    border-radius: 2px 0 0 2px;
    box-shadow: none;
    padding: 7px 123px 7px 12px;
    background: #f3f6f5;
    font-size: 14px;
}
._2category_filter_product{}
._2category_flter_all{}
._2category_flter {
    padding: 24px;
}
._2category_flter_title {
	    padding-bottom: .5rem;
    margin-bottom: .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-bottom: 1px solid;
}
._2category_flter_select {
    color: #2f3432;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    box-shadow: inset 0 3px 1px rgba(231,237,238,.5);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
    height: 32px;
    font-size: 14px;
}
._2category_flter_select option{}
._2category_flter_items:last-child{
	margin-bottom: 0px;
}
._2category_flter_items {
    margin: 0 0 25px;
}
._2category_flter_radio{}
._2category_flter_radio input{}
._2category_flter_list_all{}
._2category_flter_subtitle{
	color: #2f3432;
    font-weight: 700;
    font-size: 14px;
}
._2category_flter_list {
    padding: 0px 0 0 14px;
}
._2category_flter_list li:last-child {
	margin-bottom: 0px;
}
._2category_flter_list li {
    font-size: 14px;
    list-style: none;
    margin: 11px 0 10px;
}
._2category_flter_list li a i {
    color: #333;
    margin: 0 5px 0 0;
    width: 16px;
    text-align: center;
}
._2category_flter_list li a{}
._2category_flter_list li a:hover{}
._2category_flter_list_span {
    color: #ada6a6;
    font-size: 12px;
    margin: 0 0 0 5px;
}
._2category_product_all {
    padding-left: 9px;
}
._2category_product {
    padding: 0px 0 0;
}
._2category_product_menu{}
._2category_product_menu_list{}
._2category_product_menu_list li {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
._2category_product_menu_list li span {
    
}
._2category_product_menu_list li:hover{}
._2category_product_next{
	margin: 0 11px 0;
}
._2category_product_menu_ative{
	color: #333;
	font-weight: bold;
}
._2category_results_num {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 12px 0 18px;
}
._2category_button {
    color: #2f3432;
    text-align: center;
    padding: 24px 0 105px;
}
._2category_do {
    font-weight: 400;
    color: #2f3432;
    margin: 24px 0 16px;
    font-size: 1.6143rem;
    line-height: 1.5;
}
._2category_Post {
    font-weight: 400;
    color: #2f3432;
    font-size: 1.1858rem;
    line-height: 1.33333333;
    margin-top: 6px;
    margin-bottom: 30px;
}
._2category_main_product{

}

._2category_product_all ._5card {
    margin-bottom: 28px;
}
/*Card Five*/
._5card {
    overflow: hidden;
    align-items: center;
    height: 185px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._5card_pic {
    height: 100%;
    overflow: hidden;
    flex: 0 0 156px;
    position: relative;
}
._5card:hover ._5card_img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}
._5card_img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    max-width: 177px;
    max-height: 250px;
    transition: .3s all ease;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    margin: 0 auto;
}
._5card_details {
    flex: 1 1;
    padding: 21px 22px 8px;
}
._5card_cat {
    padding: 0 0 9px;
}
._5card_bottom {
    padding: 18px 15px 3px;
}
._5card_cat {
    padding: 0 0 9px;
}
._5card_cat_title{
    flex: 1 1;
}
._5card_cat_title span {
    background: #f0f0f0;
    color: #333;
    padding: 5px 16px;
    border-radius: 30px;
    font-size: 13px;
}
._5card_cat_icons_active{
    color: #009877 !important;
}
._5card_cat_icons {
    color: #c5c5c5;
}
._5card_cat_icons i{}
._5card_title {
    font-size: 16px;
}
._5card_address {
    font-size: 13px;
    color: #999;
    margin: 4px 0 6px;
}
._5card_price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 4px 0 5px;
}
._5card_rating_time {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    padding: 8px 0;
}
._5rating_all {
    flex: 1 1;
}
._5rating {
    display: flex;
    align-items: flex-end;
}
._5rating li {
    display: inline-block;
    color: #bfbfbf;
    font-size: 13px;
    margin-right: 2px;
}
._5rating_num {
    color: #333 !important;
    margin-left: 6px;
    font-size: 12px !important;
}
._5rating_fill {
    color: #c60717 !important;
}
._5card_time {
    font-size: 13px;
    opacity: .7;
}
/*Card Five*/
